# Assignment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesRegressor, RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
#from sklearn.feature_selection import RFE
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import KFold

The data is provided in 4 different CSVs as below:

stores.csv
This file contains anonymized information about the 45 stores, indicating the type and size of store.

train.csv
This is the historical training data, which covers to 2010-02-05 to 2012-11-01. Within this file you will find the following fields:
•   Store - the store number
•   Dept - the department number
•   Date - the week
•   Weekly_Sales -  sales for the given department in the given store
•   IsHoliday - whether the week is a special holiday week

test.csv
This file is identical to train.csv, except we have withheld the weekly sales. You must predict the sales for each triplet of store, department, and date in this file.

features.csv
This file contains additional data related to the store, department, and regional activity for the given dates. It contains the following fields:
•   Store - the store number
•   Date - the week
•   Temperature - average temperature in the region
•   Fuel Price - cost of fuel in the region
•   MarkDown1-5 - anonymized data related to promotional markdowns that the Retail chain is running. Mark Down data is only         available after Nov 2011, and is not available for all stores all the time. Any missing value is marked with an NA.
•   CPI - the consumer price index
•   Unemployment - the unemployment rate
•   IsHoliday - whether the week is a special holiday week

In [2]:
dataset = pd.read_csv("train.csv",sep=',')
features = pd.read_csv("features.csv",sep=',')
#features.drop(['IsHoliday'])
stores = pd.read_csv("stores.csv", sep=',')
dataset = dataset.merge(stores, how='left').merge(features, how='left')
dataset['IsHoliday'] = dataset.IsHoliday.map({False:0, True:1})
dataset.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,0,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,2010-02-12,46039.49,1,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,2010-02-19,41595.55,0,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,2010-02-26,19403.54,0,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,2010-03-05,21827.90,0,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106

In [3]:
corr = dataset.corr()

In [4]:
corr

,Store,Dept,Weekly_Sales,IsHoliday,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
Store,1.000000,0.024004,-0.085195,-0.000548,-0.182881,-0.050097,0.065290,-0.119588,-0.035173,-0.031556,-0.009941,-0.026634,-0.211088,0.208552
Dept,0.024004,1.000000,0.148032,0.000916,-0.002966,0.004437,0.003572,-0.002426,0.000290,0.001784,0.004257,0.000109,-0.007477,0.007837
Weekly_Sales,-0.085195,0.148032,1.000000,0.012774,0.243828,-0.002312,-0.000120,0.085251,0.024130,0.060385,0.045414,0.090362,-0.020921,-0.025864
IsHoliday,-0.000548,0.000916,0.012774,1.000000,0.000593,-0.155949,-0.078281,-0.035586,0.334818,0.427960,-0.000562,-0.053719,-0.001944,0.010460
Size,-0.182881,-0.002966,0.243828,0.000593,1.000000,-0.058313,0.003361,0.345673,0.108827,0.048913,0.168196,0.304575,-0.003314,-0.068238
Temperature,-0.050097,0.004437,-0.002312,-0.155949,-0.058313,1.000000,0.143859,-0.040594,-0.323927,-0.096880,-0.063947,-0.017544,0.182112,0.096730
Fuel_Price,0.065290,0.003572,-0.000120,-0.078281,0.003361,0.143859,1.000000,0.061371,-0.220895,-0.102092,-0.044986,-0.128065,-0.164210,-0.033853
MarkDown1,-0.119588,-0.002426,0.085251,-0.035586,0.345673,-0.040594,0.061371,1.000000,0.024486,-0.108115,0.819238,0.160257,-0.055558,0.050285
MarkDown2,-0.035173,0.000290,0.024130,0.334818,0.108827,-0.323927,-0.220895,0.024486,1.000000,-0.050108,-0.007768,-0.007440,-0.039534,0.020940
MarkDown3,-0.031556,0.001784,0.060385,0.427960,0.048913,-0.096880,-0.102092,-0.108115,-0.050108,1.000000,-0.071095,-0.026467,-0.023590,0.012818
MarkDown4,-0.009941,0.004257,0.045414,-0.000562,0.168196,-0.063947,-0.044986,0.819238,-0.007768,-0.071095,1.000000,0.107792,-0.049628,0.024963
MarkDown5,-0.026634,0.000109,0.090362,-0.053719,0.304575,-0.017544,-0.128065,0.160257,-0.007440,-0.026467,0.107792,1.000000,0.060630,-0.003843
CPI,-0.211088,-0.007477,-0.020921,-0.001944,-0.003314,0.182112,-0.164210,-0.055558,-0.039534,-0.023590,-0.049628,0.060630,1.000000,-0.299953
Unemployment,0.208552,0.007837,-0.025864,0.010460,-0.068238,0.096730,-0.033853,0.050285,0.020940,0.012818,0.024963,-0.003843,-0.299953,1.000000

# Removing Some of the featuers

In [5]:
dataset[['MarkDown1','MarkDown2','MarkDown3','MarkDown4', 'MarkDown5']] = dataset[['MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5']].fillna(0)
dataset['Month'] = pd.to_datetime(dataset['Date']).dt.month
dataset = dataset.drop(columns=["Date", "CPI", "Fuel_Price", 'Unemployment', 'MarkDown2', 'Temperature'])
dataset = pd.get_dummies(dataset, columns=['Type'])
dataset.head()

,Store,Dept,Weekly_Sales,IsHoliday,Size,MarkDown1,MarkDown3,MarkDown4,MarkDown5,Month,Type_A,Type_B,Type_C
0,1,1,24924.50,0,151315,0.0,0.0,0.0,0.0,2,1,0,0
1,1,1,46039.49,1,151315,0.0,0.0,0.0,0.0,2,1,0,0
2,1,1,41595.55,0,151315,0.0,0.0,0.0,0.0,2,1,0,0
3,1,1,19403.54,0,151315,0.0,0.0,0.0,0.0,2,1,0,0
4,1,1,21827.90,0,151315,0.0,0.0,0.0,0.0,3,1,0,0

# Applying Different Models

After applying different algorithum like Support Vector Machine, Random Forest, Extra Tree Regressor. The average absolute error in extra tree regressor in minimum, so i have selected this algorithum for this particular dataset. I also try to apply multivariante time series analysis but not able to apply it, may be on this type of dataset multivariante time series analysis will give more accurate result.

In [6]:
def extraTreesRegressor():
    clf = ExtraTreesRegressor(n_estimators=100,max_features='auto', verbose=1, n_jobs=1)
    return clf

def predict_(m, test_x):
    return pd.Series(m.predict(test_x))

def model_():
#     return knn()
    return extraTreesRegressor()
#     return svm()
#     return nn()
#     return randomForestRegressor()    

def train_(train_x, train_y):
    m = model_()
    m.fit(train_x, train_y)
    return m

def train_and_predict(train_x, train_y, test_x):
    m = train_(train_x, train_y)
    return predict_(m, test_x), m

In [7]:
def calculate_error(test_y, predicted):
    return mean_absolute_error(test_y, predicted)

In [8]:
kf = KFold(n_splits=5)
splited = []
# dataset2 = dataset.copy()
for name, group in dataset.groupby(["Store", "Dept"]):
    group = group.reset_index(drop=True)
    trains_x = []
    trains_y = []
    tests_x = []
    tests_y = []
    if group.shape[0] <= 5:
        f = np.array(range(5))
        np.random.shuffle(f)
        group['fold'] = f[:group.shape[0]]
        continue
    fold = 0
    for train_index, test_index in kf.split(group):
        group.loc[test_index, 'fold'] = fold
        fold += 1
    splited.append(group)

splited = pd.concat(splited).reset_index(drop=True)

In [9]:
best_model = None
error_cv = 0
best_error = np.iinfo(np.int32).max
for fold in range(5):
    dataset_train = splited.loc[splited['fold'] != fold]
    dataset_test = splited.loc[splited['fold'] == fold]
    train_y = dataset_train['Weekly_Sales']
    train_x = dataset_train.drop(columns=['Weekly_Sales', 'fold'])
    test_y = dataset_test['Weekly_Sales']
    test_x = dataset_test.drop(columns=['Weekly_Sales', 'fold'])
    print(dataset_train.shape, dataset_test.shape)
    predicted, model = train_and_predict(train_x, train_y, test_x)
    error = calculate_error(test_y, predicted)
    error_cv += error
    print(fold, error)
    if error < best_error:
        print('Search Best Model')
        best_error = error
        best_model = model
error_cv /= 5

(335722, 14) (85552, 14)

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.7min finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    1.8s finished

0 1948.7944659283678
Search Best Model
(335849, 14) (85425, 14)

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.6min finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    1.9s finished

1 2691.244089258572
(335970, 14) (85304, 14)

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.6min finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    1.8s finished

2 1874.7826091577383
Search Best Model
(338733, 14) (82541, 14)

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.3min finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    1.7s finished

3 2222.058928501031
(338822, 14) (82452, 14)

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.3min finished
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    1.7s finished

4 1826.8769827298604
Search Best Model

In [10]:
dataset_test = pd.read_csv("test.csv", names=['Store','Dept','Date','isHoliday'],sep=',', header=0)
features = pd.read_csv("features.csv",sep=',', header=0,
                       names=['Store','Date','Temperature','Fuel_Price','MarkDown1','MarkDown2','MarkDown3','MarkDown4',
                              'MarkDown5','CPI','Unemployment','IsHoliday']).drop(columns=['IsHoliday'])
stores = pd.read_csv("stores.csv", names=['Store','Type','Size'],sep=',', header=0)
dataset_test = dataset_test.merge(stores, how='left').merge(features, how='left')

In [11]:
dataset_test = pd.get_dummies(dataset_test, columns=["Type"])
dataset_test[['MarkDown1','MarkDown2','MarkDown3','MarkDown4', 'MarkDown5']] = dataset_test[['MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5']].fillna(0)
dataset_test = dataset_test.fillna(0)
column_date = dataset_test['Date']
dataset_test['Month'] = pd.to_datetime(dataset_test['Date']).dt.month
dataset_test = dataset_test.drop(columns=["Date", "CPI", "Fuel_Price", 'Unemployment', 'MarkDown2', 'Temperature'])
dataset_test.head()

,Store,Dept,isHoliday,Size,MarkDown1,MarkDown3,MarkDown4,MarkDown5,Type_A,Type_B,Type_C,Month
0,1,1,False,151315,6766.44,50.82,3639.90,2737.42,1,0,0,11
1,1,1,False,151315,11421.32,40.28,4646.79,6154.16,1,0,0,11
2,1,1,False,151315,9696.28,103.78,1133.15,6612.69,1,0,0,11
3,1,1,True,151315,883.59,74910.32,209.91,303.32,1,0,0,11
4,1,1,False,151315,2460.03,3838.35,150.57,6966.34,1,0,0,11

In [12]:
error_cv   # Average mean absolute error for model extraTreeRegressor

2112.751415115114

In [13]:
predicted_test = best_model.predict(dataset_test)

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    1.8s finished

In [14]:
dataset_test['weeklySales'] = predicted_test
dataset_test = dataset_test.rename(columns={'weeklySales': 'Weekly_Sales'})

In [15]:
dataset_test

,Store,Dept,isHoliday,Size,MarkDown1,MarkDown3,MarkDown4,MarkDown5,Type_A,Type_B,Type_C,Month,Weekly_Sales
0,1,1,False,151315,6766.44,50.82,3639.90,2737.42,1,0,0,11,17984.688600
1,1,1,False,151315,11421.32,40.28,4646.79,6154.16,1,0,0,11,22218.156100
2,1,1,False,151315,9696.28,103.78,1133.15,6612.69,1,0,0,11,18574.437100
3,1,1,True,151315,883.59,74910.32,209.91,303.32,1,0,0,11,27950.368775
4,1,1,False,151315,2460.03,3838.35,150.57,6966.34,1,0,0,11,17688.999775
5,1,1,False,151315,6343.16,270.00,2928.90,10147.90,1,0,0,12,19183.998500
6,1,1,False,151315,3504.83,73.26,1636.80,2779.60,1,0,0,12,16018.843500
7,1,1,False,151315,8231.71,274.00,358.15,2834.02,1,0,0,12,18799.806500
8,1,1,True,151315,12659.55,174.78,74.46,1208.86,1,0,0,12,27325.532900
9,1,1,False,151315,1214.08,15.01,72.36,3940.02,1,0,0,1,18368.524650
10,1,1,False,151315,6520.24,12.17,774.55,4001.25,1,0,0,1,16639.235200
11,1,1,False,151315,3772.69,3.88,246.62,1900.40,1,0,0,1,16668.780375
12,1,1,False,151315,965.89,0.10,225.36,1831.88,1,0,0,1,15901.372625
13,1,1,False,151315,9290.91,265.00,20657.82,972.61,1,0,0,2,21473.377800
14,1,1,True,151315,32355.16,280.89,20426.61,4671.78,1,0,0,2,23039.986500
15,1,1,False,151315,72937.29,47.21,13014.67,6310.18,1,0,0,2,19863.019100
16,1,1,False,151315,20107.75,42.20,15657.30,5812.86,1,0,0,2,19379.902600
17,1,1,False,151315,10610.74,2.80,25.54,2747.59,1,0,0,3,20170.518425
18,1,1,False,151315,5000.58,78.77,606.15,3697.11,1,0,0,3,16071.848800
19,1,1,False,151315,3808.13,15.65,2616.60,1909.17,1,0,0,3,16886.764175
20,1,1,False,151315,12553.98,495.10,6787.75,2545.66,1,0,0,3,21826.096200
21,1,1,False,151315,13067.46,384.90,122.93,3903.80,1,0,0,3,19693.498100
22,1,1,False,151315,12872.34,485.97,478.04,5092.33,1,0,0,4,18724.037000
23,1,1,False,151315,3672.43,52.86,949.07,2836.64,1,0,0,4,16017.634900
24,1,1,False,151315,3530.36,107.50,458.76,2062.05,1,0,0,4,17199.895400
25,1,1,False,151315,2387.72,98.34,516.28,1421.63,1,0,0,4,17276.173325
26,1,1,False,151315,2298.63,129.90,55.46,1301.04,1,0,0,5,17510.867425
27,1,1,False,151315,4624.61,42.38,1618.31,8144.90,1,0,0,5,18901.780900
28,1,1,False,151315,16170.50,8.32,4127.24,6206.97,1,0,0,5,22472.220975
29,1,1,False,151315,7959.89,1621.47,3152.57,2938.70,1,0,0,5,18287.542800
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115034,45,98,False,118221,1341.33,8.93,35.85,3682.17,0,1,0,1,6909.447550
115035,45,98,False,118221,3877.36,3.81,152.18,2403.14,0,1,0,1,6796.971725
115036,45,98,False,118221,14746.10,4.02,483.58,1467.78,0,1,0,1,7084.778975
115037,45,98,False,118221,3130.28,0.20,332.68,1361.74,0,1,0,1,6756.294800
115038,45,98,False,118221,14508.96,827.90,26424.02,700.93,0,1,0,2,7359.333125
115039,45,98,True,118221,53311.88,78.26,24823.94,3233.44,0,1,0,2,8211.781850
115040,45,98,False,118221,9362.02,0.36,5012.39,6411.71,0,1,0,2,7263.137925
115041,45,98,False,118221,10781.51,23.38,1516.76,3061.21,0,1,0,2,7215.818500
115042,45,98,False,118221,6614.32,5.60,27.55,1668.95,0,1,0,3,6962.506425
115043,45,98,False,118221,16382.54,34.62,3096.92,3486.91,0,1,0,3,7318.466900
115044,45,98,False,118221,9867.03,11.08,912.87,1360.36,0,1,0,3,7197.655950
115045,45,98,False,118221,11923.74,308.00,1764.47,1647.31,0,1,0,3,7195.024600
115046,45,98,False,118221,5444.00,350.84,53.90,1722.11,0,1,0,3,7059.616000
115047,45,98,False,118221,16427.83,182.59,1523.83,1743.09,0,1,0,4,7207.833700
115048,45,98,False,118221,8760.15,21.08,1302.31,1380.74,0,1,0,4,7161.925850
115049,45,98,False,118221,1399.81,44.38,60.83,1445.05,0,1,0,4,6849.978475
115050,45,98,False,118221,1260.65,57.52,40.51,2476.18,0,1,0,4,6830.501550
115051,45,98,False,118221,8345.40,92.96,3580.32,2242.24,0,1,0,5,7281.975700
115052,45,98,False,118221,4689.18,53.09,375.22,5738.20,0,1,0,5,7272.577450
115053,45,98,False,118221,4515.35,6.12,522.70,2541.62,0,1,0,5,7003.288525
115054,45,98,False,118221,3249.34,58.48,1183.23,1309.30,0,1,0,5,6943.510100
115055,45,98,False,118221,6474.49,77.06,9.38,4227.27,0,1,0,5,7153.205900
115056,45,98,False,118221,9977.82,80.00,4825.71,3597.34,0,1,0,6,7487.737300
115057,45,98,False,118221,2471.44,348.54,2612.33,3459.39,0,1,0,6,7124.438600
115058,45,98,False,118221,4989.34,178.56,2463.42,3117.94,0,1,0,6,7182.927000
115059,45,98,False,118221,4842.29,3.00,2449.97,3169.69,0,1,0,6,7035.650225
115060,45,98,False,118221,9090.48,582.74,5797.47,1514.93,0,1,0,7,7424.739850
115061,45,98,False,118221,3789.94,85.72,744.84,2150.36,0,1,0,7,6938.217900
115062,45,98,False,118221,2961.49,204.19,363.00,1059.46,0,1,0,7,6872.448325
115063,45,98,False,118221,212.02,2.06,10.88,1864.57,0,1,0,7,6682.911100

In [16]:
output = dataset_test[['Store','Dept','isHoliday','Weekly_Sales']]

In [17]:
output.head()

   Store  Dept  isHoliday  Weekly_Sales
0      1     1      False  17984.688600
1      1     1      False  22218.156100
2      1     1      False  18574.437100
3      1     1       True  27950.368775
4      1     1      False  17688.999775

In [20]:
output.to_csv('output_final.csv')

Conclusion: It is clear from the data that most appropriate algorithm for this type of dataset in Multivariate Time Series Analysis but I am not able to apply this algorithm and so by applying different algorithms like Support Vector Machine, Random Forest, Extra Tree Regressor I try to predict the weekly forecast and absolute error is minimum in Extra Tree Regressor, so I have selected this model.